html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	outline: none;
}

h2 {
	color: #222;
	font-weight: 700;
	font-size: 30pt;
	padding: 0;
	margin: 0;
}

#sidebar {
	display: block;
	position: fixed;
	float: left;
	width: 160px;
	height: 100%;
	border-right: 1px dotted #ccc;
}

#sidebar a {
	display: block;
	margin: 15px;
	
	font-weight: 400;
	font-size: 14pt;
	color: #444;
	text-decoration: none;
}

#sidebar .userstyles,
#sidebar .startpage,
#sidebar .themes,
#sidebar .terminal,
#sidebar .vim {
	border-bottom: 1px dotted #ccc;
}

#title {
	border-bottom: 1px dotted #ccc;
	width: 100%;
}

#title a {
	font-weight: 600;
	font-size: 30pt;
	text-decoration: none;
	color: #111;
}

#title a:hover,
#sidebar a:hover {
	color: #0b72d9;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}

#main,
#clean,
#ribbon,
#userChrome,
#startpage,
#themes,
#terminal,
#vim {
	width: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 15%;
	padding-left: 15%;
	margin-left: 161px;
	text-align: center;

	font-weight: 600;
	font-size: 24px;
	color: #444;
	border-bottom: 1px dotted #ccc;
}

#main a,
#clean .links a,
#ribbon .links a,
#userChrome .links a,
#startpage .links a,
#terminal .links a, 
#themes a,
#vim .links a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	color: #888;
	border: 1px dotted #aaa;
	background: #fff;
	padding: 8px;
	margin: 4px;
}

#main a:hover,
#clean .links a:hover,
#ribbon .links a:hover,
#userChrome .links a:hover,
#startpage .links a:hover,
#terminal .links a:hover, 
#themes a:hover,
#vim .links a:hover {
	border: 1px solid #0b72d9;
	color: #0b72d9;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}

#themes .norm_link,
#themes .norm_link:hover {
	font-size: 24px;
	border: none;
	padding: 0;
}

#clean,
#ribbon,
#userChrome,
#startpage,
#themes,
#terminal,
#vim {
	font-weight: 400;
}

#clean img,
#ribbon img,
#userChrome img,
#startpage img,
#terminal img,
#vim img {
	display: block;
	width: 100%;
	max-width: 1191px;
	margin: 0 auto;
	margin-top: 30px;

	box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
	border: 1px solid transparent;
}

#terminal img {
	max-width: 502px;
}

#vim img {
	max-width: 509px;
}

#userChrome img {
	max-width: 939px;
}

#clean img:hover, 
#ribbon img:hover,
#userChrome img:hover,
#startpage img:hover,
#terminal img:hover,
#vim img:hover {
	border: 1px solid #0b72d9;
	color: #0b72d9;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}

#clean .links,
#ribbon .links,
#userChrome .links,
#startpage .links,
#terminal .links,
#vim .links {
	margin-top: 30px;
	margin-bottom: 30px;
}
