html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	outline: none;
}

h2 {
	color: #222;
	font-weight: 700;
	font-size: 34px;
	padding: 0;
	margin: 0;
}

#sidebar {
	display: block;
	position: fixed;
	float: left;
	width: 160px;
	height: 100%;
	border-right: 1px dotted #ccc;
}

#sidebar a {
	display: block;
	margin: 15px;
	
	font-weight: 400;
	font-size: 20px;
	color: #444;
	text-decoration: none;
}

#sidebar .userstyles,
#sidebar .startpage,
#sidebar .themes,
#sidebar .terminal,
#sidebar .vim,
#sidebar .tmux {
	border-bottom: 1px dotted #ccc;
}

#title {
	border-bottom: 1px dotted #ccc;
	width: 100%;
}

#title a {
	font-weight: 600;
	font-size: 36px;
	text-decoration: none;
	color: #111;
}

#title a:hover,
#sidebar a:hover {
	color: #0b72d9;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}

#main,
#clean_cont,
#ribbon_cont,
#userchrome_cont,
#startpage_cont,
#themes_cont,
#terminal_cont,
#vim_cont,
#tmux_cont {
	width: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 15%;
	padding-left: 15%;
	margin-left: 161px;
	text-align: center;

	font-weight: 600;
	font-size: 24px;
	color: #444;
	border-bottom: 1px dotted #ccc;
}

#main a,
#clean_cont .links a,
#ribbon_cont .links a,
#userchrome_cont .links a,
#startpage_cont .links a,
#terminal_cont .links a, 
#themes_cont a,
#vim_cont .links a,
#tmux_cont .links a {
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	color: #888;
	border: 1px dotted #aaa;
	background: #fff;
	padding: 8px;
	margin: 4px;
}

#main a:hover,
#clean_cont .links a:hover,
#ribbon_cont .links a:hover,
#userchrome_cont .links a:hover,
#startpage_cont .links a:hover,
#terminal_cont .links a:hover, 
#themes_cont a:hover,
#vim_cont .links a:hover,
#tmux_cont .links a:hover {
	border: 1px solid #0b72d9;
	color: #0b72d9;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}

#themes_cont .norm_link,
#themes_cont .norm_link:hover {
	font-size: 24px;
	border: none;
	padding: 0;
}

#clean_cont,
#ribbon_cont,
#userchrome_cont,
#startpage_cont,
#themes_cont,
#terminal_cont,
#vim_cont,
#tmux_cont {
	font-weight: 400;
}

#clean_cont img,
#ribbon_cont img,
#userchrome_cont img,
#startpage_cont img,
#terminal_cont img,
#vim_cont img,
#tmux_cont img {
	display: block;
	width: 100%;
	max-width: 1191px;
	margin: 0 auto;
	margin-top: 30px;

	box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
	border: 1px solid transparent;
}

#terminal_cont img {
	max-width: 494px;
}

#vim_cont img {
	max-width: 495px;
}

#tmux_cont img {
	max-width: 503px;
}

#userchrome_cont img {
	max-width: 939px;
}

#clean_cont img:hover, 
#ribbon_cont img:hover,
#userchrome_cont img:hover,
#startpage_cont img:hover,
#terminal_cont img:hover,
#vim_cont img:hover,
#tmux_cont img:hover {
	border: 1px solid #0b72d9;
	color: #0b72d9;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}

#clean_cont .links,
#ribbon_cont .links,
#userchrome_cont .links,
#startpage_cont .links,
#terminal_cont .links,
#vim_cont .links,
#tmux_cont .links {
	margin-top: 30px;
	margin-bottom: 30px;
}
